
:root{
    --primary-light: #a5d0cd;
    --primary-dark: #6ac3bd;
    --background: #eaf3f2;
    --fontcolor: #2d6c68;
    --WorkDefaultHeight : 120px;
    /* values for main structure  :for <header> & <main>  */
    --main-structure-w : 80wh;
    --max-width : 992px;

    --dashed_width: 2px;
}
body{background-color: var(--background);}
header{
    width:100%;
    background-color:#eaf3f2;
    margin:0 auto;
}

header .hd_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0;
    width:var(--mainStructureW );
    max-width:var(--max-width);
    margin:0 auto;
}

header nav {
    display:flex;
    justify-content:flex-end;
}
header li{display:inline;}

header nav a{
    font-size:1.2em;
    padding:0 10px;
    color:var(--fontcolor);
    font-weight:bold;
}
h1{
    position:relative;
    font-size:2.7em;
    color:rgb(39, 37, 35);
    background-color:#fff;
    /* background-image: linear-gradient(90deg, var(--primary-light) 90%, var(--background)); */
    border:var(--dashed_width) dashed var(--primary-light);
    border-radius: 10px;
    padding:15px 100px 15px 30px;
}


header img.myphoto{
    width:120px;
    height:120px;
    border-radius: 100px;
    /* filter:grayscale(1.0); */
    position:absolute;
    top:-4px;
    right:-60px;
    border:3px solid var(--primary-light);
    animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      right: 100px;
      opacity: 0;
    }
  
    to {
        right:-60px;
        opacity: 1;
    }
  }

.intro {
    height: 200px;
    width: 100%;
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-position: center;
}
.intro article{
    margin:0 auto;
    max-width: var(--max-width);
    position: relative;
    font-family: 'Caveat', cursive;
}

.intro h2{
    
    font-size:2.6em;
    position:absolute;
    right:20px;
    top:40px;
    transform:rotate(-5deg);
    color:#fff;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    
}
.intro p{
    position:absolute;
    right:60px;
    top:120px;
    font-size:1.6em;
}
.intro h2 strong{
    font-size:1.7em;
}
.intro h2 span{
    color:var(--primary-light);
    text-shadow: 4px 4px var(--fontcolor);
}

main{
    width:var(--main-structure-w);
    max-width:var(--max-width);
    margin:0 auto;
    background-color: #fff;
    padding:30px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

main section{
    display:flex;
    margin-bottom:30px;
    justify-content: center;
}

/* Headers in main */
main h3{
    width:20%;
    text-align:right;
    font-weight:bold;
    font-size:1.8em;

    color:var(--fontcolor);
    padding:5px 10px 5px 30px;
    border:var(--dashed_width) dashed var(--primary-light);
    border-right:none;
    border-radius:20px 0 0 20px;
    
    /* To have tight borders aound each section's header */
    align-self: flex-start;  
}

main .rightbox{
    width:75%;
    border-left:2px solid var(--primary-light);
    padding:10px 20px;

}

#Work a{
    display:block;
    position:relative;
    border:4px solid var(--primary-dark);
}
#Work ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#Work li {
    width:49.2%;
    margin-bottom:8px;
}

#Work h5{
    position:absolute;
    bottom:10px;
    left:-6px;
    
    padding:8px 12px;
    margin-bottom:5px;
    border-radius: 0 10px 10px 0;

    background-image:none;
    background-position: 96% 7px;
    background-repeat: no-repeat;
    background-size: 32px;
    background-color:var(--primary-dark);

    /* noticed absolute positioned header disapear(goes behind the image) when the filter property applied to image */
    z-index: 2;
}
#Work small{display:block;font-size:0.93m;font-weight:normal;}
#Work li img{
    width:100%;
    height:var(--WorkDefaultHeight);
    object-fit: cover;
    display:block;
    filter: grayscale(0.1) brightness(0.8) contrast(0.7); 
}
#Work li:hover{
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
#Work li:hover img{
    filter:none;
    transition: filter 0.5s;
}
#Work li:hover h5{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* background-image: url(../images/white-arrow.png);
    background-position: 80px 0;
    background-repeat: no-repeat; */
    padding-right:50px;
    color:white;
    background-image: url(../images/white-arrow.png);

    transition: padding-right 0.5s, background-image 1s;
    
}


#Work li.first{
    width:100%;
}
#Work li.first img{
    height:400px;
}



#ContactMe ul{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    
}
  
/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
    /* nav links go down from top header */
    header .hd_top{
        display:block;
    }
    header h1{
        text-align: center;
        padding-right:30px;
        margin-bottom:10px;
        font-size:3em;
        background-image:none;
    }
    header nav{
        justify-content: center;
    }
    header img.myphoto{
        width:100px;
        height:100px;
        top:-5px;right:0px;
        animation:none;
    }

    main {
        width:100%;
        padding:30px 20px;
    }

    /* each main header <h3> goes to the top of contents */
    main section{
        flex-direction: column;
        align-items: fle;
        
    }
    main h3{  
        width:auto;
        border-bottom:none;
        border-right:var(--dashed_width) dashed var(--primary-light); 
        border-radius: 20px 20px 0 0;
        padding-right:30px;
    }

    main .rightbox{
        width:100%;
        padding-left:0;
        padding-right:0;
        /* border change in between <h3> and .rightbox */
        border-top:2px solid var(--primary-light);
        border-left:none;
    }
}
  
/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
    
    /* subtitle inside top image goes in the center */
    header img.myphoto{
        width:90px;
        height:90px;
    }
    .myphotobg{
        justify-content: center;
    }
    #Work li {
        width:100%;
        margin-bottom:8px;
    }
    #Work li.first img{
        height:var(--WorkDefaultHeight);
    }
    #ContactMe ul{
        flex-direction:column;
    }
    
}
  